<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  
<div class="header">
    <i class="material-icons" id="computer">computer</i>
    <h3>Product Catalogue</h3>

   

    <div class="buttonRoute">
        <a routerLink="/addProduct" routerLinkActive="active" class="btn1">add Product</a> 
    </div>

    <form class="example"  style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search by productname.."  class="searchBox" name="productName" [(ngModel)]="productName" autocomplete="off">
        <a routerLink="/searchProduct" routerLinkActive="active"> <button type="submit" class="searchButton" (click)="sendDataToSearchComponent()"><i class="fa fa-search"></i></button></a>
    </form>
</div>



<router-outlet></router-outlet>

