<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h1>{{deteteMessage}}</h1>

<div class="mainWrapper">
<div *ngFor = "let catalogueProduct of catalogueProducts; let i=index;">
<div class="galary1" >
    
    <div class="img1" >
        <img [src]="imageMaps[catalogueProduct.imageName]"  alt="P Image"  name="photo"  width="260" height="100%">
      </div> 
    <div class="content1" >
      <label class="proName">
        <b>{{catalogueProduct.productName}}</b>
        <button class="btn btn-danger btn-xs" (click)="deleteProduct(catalogueProduct.index)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
      </label>
      <br><button type="button" class="btn btn-info revi">4.2*</button>
      <p class='review'>533 Ratings & 12 Reviews</p>
   <ul>
      <li class="input2"><b>₹</b>{{catalogueProduct.productPrice}}.00</li>
      <li class="input2">Model No-{{catalogueProduct.modelNo}}</li>
      <li class="input2">Generic Name-{{catalogueProduct.genericName}}</li>
      <li class="input2">Imported from{{catalogueProduct.countryOfOrigin}}</li>
    </ul>
    </div>
  </div>
</div>
</div>